body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#68EACC 0%, #497BE8 100%);
  padding-bottom: 7px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

canvas {
  margin: 45px;
  border: #497BE8 100%;
}


